<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form method="post">
        <label for="nickname">Pseudo :</label>
        <input type="text" id="nickname" name="nickname" placeholder="ex: Dupont" required>
        <button type="submit" class="btn">Connexion</button>
    </form>
</body>
</html>
