<!DOCTYPE html>
<html>
<head>
    <link type="text/css" rel="stylesheet" href="/bootstrap-like.css"/>
    <link type="text/css" rel="stylesheet" href="/style.css"/>
</head>
<body>
    <div class="container text-middle">
        <p>Vous êtes sur la page de connexion</p>
        <form method='post' action='/question'>
            <fieldset id="login_form">
                <legend>Vos informations : </legend>   
                <label for="name">Nom</label>
                <input type="text" id="name" name="name"><br/>

                <label for="firstname">Prénom</label>
                <input type="text" id="nickname" name="nickname"><br/>

                <label for="salon">Salon</label>
                <select name="salon" id="salon">
                    <option value="MIAM">MIAM</option>
                    <option value="ASSR">ASSR</option>
                </select><br/>
                <button type="submit">Connexion</button>
            </fieldset>
        </form>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/jquery.js"></script>
    <script src="/connexion.js"></script>
</body>
</html>
