<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/style.css"/>
</head>

<body>
<h1>Page Manager</h1>
<p></p>
<table>
    <legend>Etudiants connectés</legend>
    <thead>
    <tr>
        <th>Pseudo</th>
        <th>Etat</tr>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% for(var i in students) {
        var student = students[i] %>
    <tr>
        <td><%= student.nickname %></td>
        <td>...</td>
        <td><button type="button">Kick</button></td>
    </tr>
    <% } %>
    </tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.js"></script>
<script src="/manager.js"></script>
</body>
</html>
