<!DOCTYPE html>
<html>

<head>
    <link type="text/css" rel="stylesheet" href="/style.css"/>
</head>

<body>
<h1>Page Manager</h1>
<ul class="list-students"></ul>
<table>
    <legend>Etudiants connectés</legend>
    <thead>
    <tr>
        <th>Nom</th>
        <th>Prénom</tr>
        <th>Salon</th>
    </tr>
    </thead>
    <tbody>
      
    </tbody>
</table>
<script src="/socket.io/socket.io.js"></script>
<script src="/jquery.js"></script>
<script src="/manager.js"></script>
</body>
</html>
