<!DOCTYPE html>
<html>
<% include layout/header %>
    <body>
        <article>
            <h1>Page Manager</h1>
            <table>
            <legend>Etudiants connectés</legend>
            <thead>
            <tr>
            <th>Nom</th>
            <th>Prénom</tr>
            <th>Salon</th>
            <th>Action</th>
            </tr>
            </thead>
            <tbody>

            </tbody>
            </table>

            <div class="infos">
                <h4>Informations : </h4>
            </div>
        
            <div class="container maintcontent text-midle">
            <button class="button-change1">Changement</button>
            <div class="row chart1">
            </div>
            <button class="button-change2">Changement</button>
            <div class="row chart2">
            </div>  
            <button class="button-change3">Changement</button>  
            <div class="row chart3">
            </div>
        </article>


        <script type="text/javascript">
        // --------------------------------------------
        // FAKE DATA 
        // --------------------------------------------
            var data_question1 =
            [
            {"label" : "reponseA","nb" : 12 },
            {"label" : "reponseB","nb" : 34 },
            {"label" : "reponseC","nb" : 90 }
            ]
            var  data_question2 =
            [
            {"label" : "reponseA","nb" : 12 },
            {"label" : "reponseB","nb" : 34 },
            {"label" : "reponseC","nb" : 10 },
            {"label" : "reponseD","nb" : 89 },
            {"label" : "reponseE","nb" : 30 },
            {"label" : "reponseF","nb" : 90 }
            ]

            var  data_question3 =
            [
            {"label" : "reponseA","nb" : 12 },
            {"label" : "reponseB","nb" : 34 },
            {"label" : "reponseC","nb" : 10 },
            {"label" : "reponseD","nb" : 89 },
            {"label" : "reponseE","nb" : 30 },
            {"label" : "reponseF","nb" : 90 },
            {"label" : "reponseG","nb" : 123 },
            {"label" : "reponseH","nb" : 89 },
            {"label" : "reponseI","nb" : 100 },
            {"label" : "reponseJ","nb" : 124 }
            ]
            // ----------------------------------------------------------------------
            // ----------------------------------------------------------------------
            // Call function 
          //  generatechart(data_question1,".chart1",".button-change1");
          //  generatechart(data_question2,".chart2",".button-change2");
          //  generatechart(data_question3,".chart3",".button-change3");
        </script>

    </body>
</html>

