<!DOCTYPE html>
<html>
<% include layout/header %>

    <body>


      <article>
          <h1>Page Manager</h1>
          <table id="table-students">
            <legend>Etudiants connectés</legend>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</tr>
                <th>Salon</th>
                <th>Statut</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
          <table id="table-questions">
            <legend>Liste des questions</legend>
            <thead>
              <tr>
                <th>Nom</th>
                <th>Prénom</tr>
                <th>Salon</th>
                <th>Statut</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            <% for (questionId in questions) {
                var question = questions[questionId] %>
                <tr>
                <% for (answerId in answers) {
                    var answer = answers[answerId] %>
                    <td><%= answerId %>: <%= answer.text %></td>
                <% } %>
                </tr>
            <% } %>
            </tbody>
          </table>
          <div class="infos">
              <h4>Informations : </h4>
          </div>

            <div class="container maintcontent text-midle">
            <button class="button-change">Changement</button>
            <div class="row chart">
        </article>

        <script type="text/javascript">
        // --------------------------------------------
        // FAKE DATA
        // --------------------------------------------
            var data_question =
            [
            {"label" : "reponseA","nb" : 12 },
            {"label" : "reponseB","nb" : 34 },
            {"label" : "reponseC","nb" : 90 }
            ]

           generatechart(data_question1,".chart",".button-change");
        </script>


        <script src="/socket.io/socket.io.js"></script>
        <script src="/manager.js"></script>

    </body>
</html>
