<h1>Résultat de la question</h1>

<script src="/socket.io/socket.io.js"></script>
<script  type="text/javascript" src="/charts/d3.min.js"></script>
<script  type="text/javascript" src="/charts/pie.js"></script>
<script  type="text/javascript" src="/charts/barchart.js"></script>
<script  type="text/javascript" src="/charts/main-chart.js"></script>
<script src="/resultat.js"></script>

<link rel='stylesheet' href='/resultat.css' />

<div class="row chart"></div>
