<!DOCTYPE html>
<html>
<head>
    <script src="/jquery.js"></script>
    <link rel='stylesheet' href='/style.css' />
    <link rel='stylesheet' href='/bootstrap-like.css' />
    <script  type="text/javascript" src="javascripts/d3.min.js"></script>
    <script  type="text/javascript" src="javascripts/pie.js"></script>
    <script  type="text/javascript" src="javascripts/barchart.js"></script>
    <script  type="text/javascript" src="javascripts/main-chart.js"></script>
  </head>
<body>
<header>
  <nav class="navigation">
    <ul>
      <li>
	      <a href="/">Acceuil</a>
	    </li>
	    <li >
	      <a href="/manager.html">Page prof</a>
        </li>
    </ul>
  </nav>
</header>
